altgraph==0.17.4
astroid @ file:///opt/concourse/worker/volumes/live/b22b518b-f584-4586-5ee9-55bfa4fca96e/volume/astroid_1592495912194/work
beautifulsoup4==4.9.1
certifi==2020.6.20
cffi==1.12.3
click==7.1.2
conda-pack==0.4.0
docutils==0.16
Flask==1.1.2
importlib-metadata==6.7.0
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.15.1
Kivy @ file:///Users/runner/miniforge3/conda-bld/kivy_1590522815978/work
lazy-object-proxy==1.4.3
lxml==4.5.1
macholib==1.16.3
MarkupSafe==1.1.1
mccabe==0.6.1
mkl-fft==1.1.0
mkl-random==1.1.1
mkl-service==2.3.0
numpy==1.18.5
olefile==0.46
packaging==24.0
panda3d==1.10.6.post2
pandas==1.0.1
Pillow==7.1.2
pycparser==2.19
pygame==2.0.0.dev3
Pygments==2.6.1
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2024.6
pylint==2.3.1
pymunk==5.5.0
PyQt5==5.13.0
PyQt5-sip==4.19.18
python-dateutil==2.8.1
pytz==2020.1
replit-play==0.0.23
scikit-learn @ file:///opt/concourse/worker/volumes/live/eab838ab-55a5-40d0-5cbd-f1854d35aa9d/volume/scikit-learn_1592503039331/work
scipy @ file:///opt/concourse/worker/volumes/live/14622691-c324-4e90-5a99-87aced91207b/volume/scipy_1592930535761/work
six==1.15.0
soupsieve==2.0.1
threadpoolctl @ file:///tmp/tmp9twdgx9k/threadpoolctl-2.1.0-py3-none-any.whl
typed-ast==1.4.1
typing-extensions==4.7.1
Werkzeug==1.0.1
wrapt==1.11.2
zipp==3.15.0
